body {
  margin:0;
     }

h1{
    font-size: 100px;
}
.korobka{
    font-family: Arial;
    color: #4F709C;
    padding: 0 100px;
    text-align: center;
    height: 100vh;
    width: 50%;
    
    margin: 0 15px 0 15px;
}
.hcenter{
    align-items: center;
}
.wcenter{
   justify-content: center; 
}
.dflex{
    display: flex;
    
}
.sectionHero{
    background-color: #F0F0F0;
}
.prizrak{
    position: absolute;
    width: 80px;
    left: 0px;
}
.t200{
    top: 200px;

}
.t300{
    top: 300px;

}.t400{
    top: 400px;

}.t500{
    top: 500px;

}

img{
  width: 80%;
    z-index: 6;
    box-shadow: 0 0 10px 10px white;
}
.krug{

    rotate: 10deg;
        z-index: 5;
        position: absolute;
        top: 180px;
        height: 600px;
        width: 600px;
        left: calc(50% + 180px );
        background-color: white
    }
.krug{
    z-index: 5;
    position: absolute;
    border-radius: 100%;
    top: 100px;
    height: 700px;
    width: 700px;
    background: rgb(33, 53, 85);
    
}
.btn{
    background-color: black;
    color: white;
    font-size: 50px;
    text-decoration: none;
    padding: 10px 30px;
}
nav{
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  background-color: #153448;
}
.link{
  font-size: 20px;
  margin: 0 0 0 50px;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
.logo{
  cursor: pointer;
  font-size: 30px;
  color: #f7f2e5;
  font-weight: 600;
  border: 1px solid #75b6d4;
  padding: 10px 60px;
}
  
.right{
    position: absolute;
        right: 10px;
    }
    .btn_krasiviy{
        background-color: white;
        color: black;
        padding: 0;
        font-size: 20px;
        border-radius: 20px;
        cursor: pointer;
    }
    .btn_krasiviy:hover{
        background-color: rgb(255, 255, 255);
        color: black;
        box-shadow: 0 0 5px 5px rgb(129, 129, 129);
        
    }
