body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADINGS */
h1 {
  font-size: 100px;
}

/* FLEX */
.dflex {
  display: flex;
}
.hcenter {
  align-items: center;
}
.wcenter {
  justify-content: center;
}

/* NAV */
nav {
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  background-color: #153448;
}

nav ul.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

nav ul.menu li {
  margin-left: 50px;
}

nav ul.menu li.logo {
  margin-left: 0;
  font-size: 30px;
  color: #f7f2e5;
  font-weight: 600;
  border: 1px solid #75b6d4;
  padding: 10px 60px;
}

nav ul.menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

/* Активный пункт меню */
nav ul.menu li a.active {
  color: #FFD700; /* золотой цвет */
  font-weight: bold;
}

/* HERO */
.sectionHero {
  background-color: #f0f0f0;
}

.korobka,
.korobka1,
.korobka2,
.korobka3,
.korobka4 {
  font-family: Arial;
  color: #4F709C;
  padding: 0 100px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* SECTIONS */
.sectionAbout { background-color: #ffffff; }
.sectionProjects { background-color: #f0f0f0; }
.sectionSkills { background-color: #ffffff; }
.sectionBlog { background-color: #f0f0f0; }

/* BUTTON */
.btn {
  background-color: black;
  color: white;
  font-size: 50px;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 20px;
}

/* AUDIO */
.audio-player {
  margin-top: 40px;
}

.audio-player p {
  font-size: 20px;
}

audio {
  width: 300px;
}

/* IMAGES */
img {
  width: 90%;
  z-index: 6;
}

/* DECOR */
.prizrak {
  position: absolute;
  width: 80px;
  left: 0;
}
.t200 { top: 200px; }
.t300 { top: 300px; }
.t400 { top: 400px; }
.t500 { top: 500px; }

.krug {
  position: absolute;
  top: 100px;
  left: calc(50% + 180px);
  height: 700px;
  width: 700px;
  border-radius: 50%;
  background: rgb(33, 53, 85);
  z-index: 5;
}

/* OFFSET ДЛЯ ЯКОРОЙ */
section {
  scroll-margin-top: 100px;
}
